* {
  font-family: 'Merriweather', serif;
  text-align: center;
}

#mainHeader, #introductionSentence {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

#mainHeader {
  margin-top: 15px;
  margin-bottom: 15px;
}

#newProjectButton {
  float: none;
}

#searchBar {
  width: 70%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #ddd;
}

#searchMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#searchMenu li button:hover {
  background-color: #eee;
}

#searchMenu li {
  float: left;   
}


#newProjectButton, #projectButton, #search {
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

#projectButton {
    width: inherit;
    height: auto;
    float: none;
}

#buildingProjectTitle, #buildingDescription, #projectPhoto {
  margin: 10px;
}

#buildingProjectTitle {
    font-size: 14px;
}

#projectPhoto {
  height: 150px;
  margin: 5px;
}
